/* Dynamic progress bar for please-wait page within file upload journey */

.nidac-display-only-non-javascript {
  display: none;
}

.nidac_progress_bar {
  width: 100%;
  height: 23px;
  background: #1d70b8;
  position :relative;
  -webkit-animation: move_progress ease-out 10s;
  animation: move_progress ease-out 10s;
}

@keyframes move_progress {
  from   {width: 0%;}
  to  {width: 100%;}
}

@-webkit-keyframes  move_progress {
  from   {width: 0%;}
  to  {width: 100%;}
}
